@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome</h1>
    <p>This is an ASP.NET MVC Example</p>
    <h2 class="display-4" style="padding-top: 30px;">Content:</h2>
    <div>
        <ul style="list-style: none;margin: 0;padding: 0;">
            <li>ASP.NET MVC</li>
            <li>ASP.NET Core Identity</li>
            <li>Entity Framework</li>
            <li>SQLite In-Memory</li>
            <li>MSSQL</li>
            <li>Seeding default data to SQLite In-Memory DB</li>
            <li>Seeding default account to MSSQL/Identity</li>
        </ul>
    </div>
        
</div>
